@import url("https://fonts.googleapis.com/css2? family= Libre+Franklin:wght@300;500;800 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  text-align: center;
  color: #615f5f;
  margin: 20px;
}

.img-quienes-somos {
  height: 50vh;
  width: 50vh;
  padding: 0 auto;
}

.imgCarrusel {
  border-radius: 15px;
  padding-top: 10px;
}

.envios {
  background-color: #252525;
  color: white;
  text-align: center;
  font-size: 14px;
}

.img-logo-nav {
  width: 85px;
  height: 85px;
}

.navbar-nav a {
  color: white;
}

#productos h4 {
  font-size: 15px;
}

.logo-footer {
  height: 80px;
  width: 80px;
}

.hover-footer:hover {
  background-color: #252525;
}

.contenedorFotter {
  border: solid rgba(0, 0, 0, 0.085);
  border-radius: 15px;
}
.contenedorFotter:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.imgTextarea {
  background-image: url(/img/imglogogluenchico.ico);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

#contacto {
  padding: 30px;
}

.iframeContacto {
  height: 400px;
  border-radius: 15px;
  margin: 5px;
}

.containerTarjetas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerTarjetas .tarjetas {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.containerTarjetas .tarjetas img {
  width: 330px;
  height: 320px;
}
.containerTarjetas .tarjetas:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.containerTarjetas .tarjetas h2 {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.respuestaContacto {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.respuestaContacto .tarjetaContacto {
  margin: 0 auto;
  padding-top: 30vh;
}
.respuestaContacto .tarjetaContacto .card-body {
  background: rgb(2, 251, 214);
}

.mensajeCompra {
  padding: o auto;
  margin-bottom: 10px;
}
.mensajeCompra .mensajeEnvio {
  color: black;
  font-size: 50px;
  text-align: center;
}
.mensajeCompra .mensajeCuerpo {
  color: rgba(41, 40, 40, 0.689);
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 14px;
}

.contenedorTarjetas {
  margin-left: 8vh;
}

#tarjeta {
  padding: 10px;
}
#tarjeta .ifram {
  border-radius: 15px;
  border: solid black;
}

.contenedorTarjetas {
  margin-left: 8vh;
}

.contenedorTarjetas {
  margin-left: 8vh;
}

.contenedorTarjetas {
  margin-left: 8vh;
}

.contenedorTarjetas {
  margin-left: 8vh;
}

.container h3 {
  text-align: center;
  color: #615f5f;
}

.sucursales {
  padding: 0;
  background-color: #252525;
  color: white;
  text-align: center;
  size: 20px;
}

.imgFondo {
  background-image: url(/img/imgfondoInterior.jpeg);
}
.imgFondo h1 {
  height: 80px;
  font-size: 70px;
  color: rgba(247, 243, 243, 0.947);
  padding: 20px;
}

.btnProducto {
  background: #252525;
  border: solid black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-decoration: none;
}
.btnProducto:hover {
  color: aqua;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.btnTarjeta {
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}
.btnTarjeta:hover {
  color: rgb(255, 0, 0);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.btnmensaje {
  background: #615f5f;
  color: white;
  text-decoration: none;
  border: solid rgba(41, 40, 40, 0.689);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.819);
}

.mensajeBody {
  background: #252525;
}
.mensajeBody .mensajeSection {
  background: #615f5f;
}
.mensajeBody .mensajeSection .mensaje {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
.mensajeBody .mensajeSection .mensajeDos {
  color: #252525;
  font-size: 60px;
  text-align: center;
  padding: 15px;
}
.mensajeBody .mensajeContenedor {
  background: rgba(230, 230, 228, 0.642);
}

.mensajeLogoContenedor {
  display: flex;
  justify-content: center;
}
.mensajeLogoContenedor .mensajeLogo {
  height: 100px;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
