@import url('https://fonts.googleapis.com/css2? family= Libre+Franklin:wght@300;500;800 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif
}



/*----Menu----*/

.envios {
    background-color: #252525;
    color: white;
    text-align: center;
    size: 5px;
}

.img-logo-nav {
    width: 85px;
    height: 85px;
}

.navbar-nav a {
    color: white;
}







/*-----Carrusel-----*/
h1 {
    text-align: center;
    color: #615f5f;
    margin: 20px;
}



.img-quienes-somos {
    height: 50vh;
    width: 50vh;
    padding: 10px;
}


/*----PageProductos----*/


.tienda-centro {
    height: 50vh;
    width: 50vh;
    padding: 10px;

}



.slider-productos {

    display: flex;
    overflow: auto;
    gap: 10px;
}

/*-----Pages/Tarjetas----*/

#tarjeta {
    padding: 10px;
}



.sucursales {
    padding: 0;
    background-color: #252525;
    color: white;
    text-align: center;
    size: 20px;
}



/*----Footer----*/

.logo-footer {
    height: 80px;
    width: 80px;
}

#hover-footer:hover {
    background-color: #252525;

}





/*----Pages/Contacto----*/

#contacto {
    padding: 30px;
}

