@import url('https://fonts.googleapis.com/css2? family= Libre+Franklin:wght@300;500;800 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif
}



/*----Menu----*/

.envios {
    background-color: #252525;
    color: white;
    text-align: center;
    size: 5px;
}

.img-logo-nav {
    width: 85px;
    height: 85px;
}

.navbar-nav a {
    color: white;
}





/* header {
    border: 2px solid red;
    border: #363636;
    background-color: #615f5f;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.445);
}


.menu li a {
    text-decoration: none;
    color: white;

}

.menu li a:hover {
    color: aqua;
    
}

header nav ul {
    display: flex;
    gap: 20px;
}

.logo-menu {
    height: 100px;
}

.menu {
    list-style-type: none;
    padding-left: 50px;
    font-size: 18px;
} */

/*----Botones---*/

/* .btn {
    font-weight: 100px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px;

}

.btn {
    background-color: #363636;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.btn:hover {
    background-color: #615f5f;
} */

/*-----Carrusel-----*/
h1 {
    text-align: center;
    color: #615f5f;
    margin: 20px;
}

/* .colorCarrusel {
    background-color: rgba(0, 0, 0, 0.116);
    border: 1px solid rgba(0, 0, 0, 0.082);

}

#contenedorCarrusel {
    border: 1px;
    height: 400px;
    overflow: hidden;
}

.carrusel {
    display: flex;
    position: relative;
    justify-content: center;
}



.flechaCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh;
} */

/*------whatsapp-----*/

/* .whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
} */

/**-----Quines somos----*/

/* .titulo-quienes-somos h2 {
    background-color: #04fcb231;
    color: #615f5f;
    height: 200px;
    text-align: center;
    padding: 80px;
    font-size: 30px;
}

.parrafo-imagen {
    min-width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    align-items: center;
}

.loren-parrafo {
    padding: 5px 5px;
    font-size: 15px;
    color: #363636;
} */

.img-quienes-somos {
    height: 50vh;
    width: 50vh;
    padding: 10px;
}


/*----PageProductos----*/


.tienda-centro {
    height: 50vh;
    width: 50vh;
    padding: 10px;

}

/* .titulo-productos {
    background-color: #04fcb231;
    color: #615f5f;
    height: 200px;
    text-align: center;
    padding: 80px;
    font-size: 50px;
    padding: 10px;
} */

.slider-productos {

    display: flex;
    overflow: auto;
    gap: 10px;
}

/*-----Pages/Tarjetas----*/

#tarjeta {
    padding: 10px;
}

/* .tarjeta-productos {
    min-width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tarjeta-productos h2,
.tarjeta-productos h3,
.tarjeta-productos span {
    font-size: 24px;
}

.tarjeta-productos img {
    width: 100%;
}


.slider-productos {
    display: flex;
} */


/*----Pages/Sucursales----*/

.sucursales {
    padding: 0;
    background-color: #252525;
    color: white;
    text-align: center;
    size: 20px;
}

/* .sucursales h2 {
    background-color: #04fcb231;
    color: #615f5f;
    height: 200px;
    text-align: center;
    padding: 80px;
    font-size: 50px;

}



.caja-sucursal {
    display: flex;
    flex-direction: column;


}

.locales {
    background-color: #04fcb231;
    padding: 10px;
    text-align: center;
    font-size: 35px;

}


.imagen-fondo {
    background-image: url(../img/tienda.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50em;
} */


/*----Footer----*/

.logo-footer {
    height: 80px;
    width: 80px;
}

#hover-footer:hover {
    background-color: #252525;

}

/* .copyright {
    background: #363636;
    height: 80px;
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.link-copyriht {
    
    text-decoration: none;
    color: white;
}

.link-copyriht:hover {
    color: aqua;
}

.redes-sociales:hover {
    background: #02fcda;
} */



/*----Pages/Contacto----*/

#contacto {
    padding: 30px;
}

/* .contacto-mapa {
    background-color: #615f5f59;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;


}

.borde-input {
    border-radius: 5px;
    background-color: #03fad12c;
} */