

.imgFondo {

    background-image: url(/img/fondoInterior.jpeg);

    h1 {
        height: 80px;
        background: $color-primario;
        font-size: 30px;
        color: $color-menu;
        padding: 20px;
        
    }
    
}