.imgFondo {

    background-image: url(/img/imgfondoInterior.jpeg);

    h1 {
        height: 80px;
        font-size: 70px;
        color: rgba(247, 243, 243, 0.947);
        padding: 20px;
        
    }
    
}