.container h3 {
    text-align: center;
    color: $color-primario;
    
}

.sucursales {
    padding: 0;
    background-color: $color-secundario;
    color: $color-menu;
    text-align: center;
    size: 20px;
}

.h1QuienesSomos{
    font-size: 60px;
}

.h2QuienesSomos {
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    
}