.img-logo-nav {
    width: 85px;
    height: 85px;
    
}



.navbar-nav a {
    color: $color-menu;
    cursor: pointer;
    
}


#productos h4 {

    font-size: 15px;
    

}


.clima {
    color: $color-menu;
}

